/*Remove padding and margin*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	border: transparent;
	box-sizing: border-box;
}

html {
	font-family: 'Merriweather Sans', sans-serif;
}


body {
	background-color: #fff;
	color: #4c5155;
	font-size: 16px;
	overflow-x: hidden;.
	margin: 0;
}
 

body, html {
	height: 100%;
	min-width: 200px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

/*.font-family-sans, body, html {
	font-family: "Merriweather Sans", sans-serif;
}*/

.announcement-bar {
	height: 55px;
}
.announcement-bar-content {
	display: block;
	line-height: 3.75em;
	text-align: center;
	width: 100%;
	color: #4c5155;
}

.announcement-bar-content-text {
	display: inline-block;
	font-size: 1.1em;
	margin: 0;
	vertical-align: middle;
	font-family: 'Merriweather Sans', sans-serif;
}

.announcement-bar-content-cta {
	color: #21cdb2;
	display: inline-block;
	font-size: .9375em;
	font-weight: 700;
	margin-left: .3125em;
	text-decoration: underline;
	vertical-align: middle;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
	background-color: #21cdb2;

	
}

.btn-slack {
	height: 40px;
	width: 139px;
}

#wrapper {
	background-color: #21cdb2;
	/*clip-path: polygon(
    	0 0,
    	100% 0,
    	100% 100%,
    	0 calc(100% - 5vw)
  		);*/
	margin-top: 60px;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 200px;
	padding-right: 10px;
	
}

.main-header {
	background-image: url(assets/img/header-icons.01d079.png);
	background-position-y: 120px;
	background-repeat: no-repeat;
	color: #fff;
	margin-top: -5.25em;
	min-height: 21.25em;
	/*padding: 5.25em 0 20%;*/
}

.header-image {
	width: 780px;
	height: 504px;
	margin-left: 832px;
	margin-top: -36em;
}

.main-header, .headline {
	max-width: 65%;
	height: 850px;
	padding-top: 5em;
	padding-left: 12em;
	box-sizing: border-box;
}


.main-header .headline h1 {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 2.5em;
	font-weight: 300;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 5px;
}

.main-header .headline .btn-slack {
	height: 80px;
	width: 278px;
}

.main-header .headline p {
	margin: 12px 0 32px;
	opacity: .8;
	font-size: 1.6em;
	font-family: 'Merriweather Sans', sans-serif;
	display: block;
	box-sizing: border-box;
	
}

.divider polygon {
	position: absolute;
	fill: #fff;
	transform: translateY(-100%);
	border: 1px solid black;
}

.home-clients {
	height: 500px;
	background-color: gray;
}

.home-how-it-works {
	background-color: #f0f3f5;
	margin: 7.5em 0;
	min-height: 7.5em;
	padding: 5em 0;
	position: relative;

}

.home-how-it-works .how-it-works-content {
	text-align: center;
	padding: 2.5em 0;
}

.home-how-it-works .how-it-works-content li img {
	width: 2.125em;
	margin-right: 1em;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}

.home-how-it-works .how-it-works-content li {
	color: #8d9499;
	font-size: 1.125em;
	margin: 0 auto;
	display: list-item;
	text-align: -webkit-match-parent;

}

.home-how-it-works .divider .polygon {
	fill: #fff;
}

.home-testimonials .testimonial .text-center h3 {
	font-weight: 700;
	margin: 1em 0 1.125em;
	font-family: inherit;
}

.home-testimonials a {
	color: #21cdb2;
	font-size: 16px;
}

.home-testimonials h3 {
	font-weight: 700;
	margin: 1em 0 1.125em;
	font-size: 1.375em;
}
.home-testimonials p {
	width: 70%;
	margin: 0 auto 10px;
	color: #8d9499;
	line-height: 1.5625em;
	display: block;
	text-align: center;
}

.home-testimonials .row {
	height: 10px;
}

.home-testimonials img {
	height: 250px;
	width: 400px;
}

.home-testimonials {
	height: 750px;
}

.product-features-title {
	font-size: 2.25em;
	margin-bottom: 1.25em;
	text-align: center;
	display: block;
}

.product-features-title h1 {
	margin-top: 20px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	margin: .67em 0;
	display: block;
	-webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.cta {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: background-size .15s ease-out;
	background-color: #fff;
	margin: 7.5em 0;
	min-height: 7.5em;
	padding: 5em 0;
	position: relative;
	color: black;
}
.cta .cta-title {
	font-size: 2.25em;
	line-height: 1.3;
	margin: .38462em 0 .19231em;
}

.cta .cta-title+p {
	font-size: 1.125em;
	max-width: 25em;
	margin: 1.25em auto;
	box-sizing: border-box;
	display: block;
}

.text-center {
	text-align: center;
}

.footer-nav-share img {
	height: 1.25em;
	transition: .5s ease-in-out;
	max-width: 100%;
	vertical-align: middle;
}

.footer-mentions .footer-algolia img {
	height: 1.125em;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	
}