/*Remove padding and margin*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #4c5155;
	font-size: 16px;
	overflow-x: hidden;
}

div, section {
	border: 1px solid black;
	height: 200px;
}
body, html {
	height: 100%;
	min-width: 200px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.font-family-sans, body, html {
	font-family: "Merriweather Sans", sans-serif;
}

.announcement-bar-content {
	display: block;
	line-height: 3.75em;
	text-align: center;
	width: 100%;
}

.announcement-bar-content-text {
	display: inline-block;
	font-size: .9375em;
	margin: 0;
	vertical-align: middle;
}

.announcement-bar-content-cta {
	color: #21cdb2;
	display: inline-block;
	font-size: .9375em;
	font-weight: 700;
	margin-left: .3125em;
	text-decoration: underline;
	vertical-align: middle;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
}


.main-header, .product-header {
	background-image: url(assets/img/header-icons.01d079.png);
	background-color: #21cdb2;
	background-position-y: 120px;
	background-repeat: no-repeat;
	color: #fff;
	margin-top: -5.25em;
	min-height: 21.25em;
	padding: 5.25em 0 20%;
}

.main-header .headline h1 {
	font-size: 2.375em;
	font-weight: 300;
	line-height: 1.3;
	margin: 0;
}

h1 {
	display: block;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}